Source: android-nativehelper
Priority: extra
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, libandroid-cutils0-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/laarid/package_android-libnativehelper
Vcs-Git: https://github.com/laarid/package_android-libnativehelper.git
Vcs-Browser: https://github.com/laarid/package_android-libnativehelper

Package: libandroid-nativehelper0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-nativehelper0 (= ${binary:Version}), libandroid-system-core0-dev, ${misc:Depends}
Description: Android libnativehelper - development
 This package contains libraries built from Android platform/libnativehelper.
 .
 This package contains the development files.

Package: libandroid-nativehelper0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Android libnativehelper
 This package contains libraries built from Android platform/libnativehelper.
